@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'), url('assets/fonts/lato-300.woff2') format('woff2');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url('assets/fonts/lato-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url('assets/fonts/lato-700.woff2') format('woff2');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato Black'), local('Lato-Black'), url('assets/fonts/lato-900.woff2') format('woff2');
}

body,
html {
    width: 1020px;
    margin: 0 auto;
    padding: 0;
}

header {
    margin: auto;
    height: 89px;
    background-color: #272c38;
    border-bottom: 6px solid #2c3445;
}

.header__wrapper {
    display: flex;
    margin: auto;
    width: 940px;
    padding-top: 13px;
    justify-content: space-between;
    align-content: center;
    background-color: #272c38;
}

.header__logo {
    font-family: 'Lato', sans-serif;
    font-size: 12.2px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: -0.0035rem;
    display: flex;
    flex-direction: row;
}

.header__logo a {
    text-decoration: none;
    color: white;
}

.header__logoAccent {
    color: #ff6962;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    margin-top: 16px;
}

.header__menu {
    display: flex;
    padding-top: 29px;
}

.header__item {
    letter-spacing: -0.003rem;
    cursor: pointer;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color: white;
}

.header__item:hover {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color: red;
}

.header__separator {
    width: 29px;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color: white;
    text-align: center;
    opacity: 0.2;
}


.slider {
    margin: auto;
    width: 100%;
    background-color: #ff6c64;
    border-bottom: 6px solid #f55d55;
}

.slider__wrapper {
    min-height: 594px;
    display: flex;
    justify-content: space-between;
}

.slider__arrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100px;
    height: 590px;
}

.slider__arrow img {
    opacity: 0.1;
}

.slider__arrow img:hover {
    opacity: 1;
}

.arrow-right {
    transform: rotate(180deg);
}

.slider__content {
    display: flex;
    width: 795px;
}

.slider__iphone-vertical {
    margin-top: 53px;
    background-image: url('assets/images/iPhone-vertical.png');
    width: 240px;
    height: 483px;
}

.slider__iphone-horizontal {
    margin-top: 174px;
    margin-left: 73px;
    background-image: url('assets/images/iPhone-horizontal.png');
    width: 483px;
    height: 240px;
}


.content {
    width: 100%;
    background-color: #f2f2f2;
}

.content__wrapper {
    min-height: 500px;
    height: 100%;
    background-color: #f2f2f2;
}

.content__info {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
}

.content__info-title {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    color: #666d89;
    padding-top: 30px;
    letter-spacing: -0.01rem;
}

.content__info-description {
    font-family: 'Lato', sans-serif;
    margin-top: 18px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #666d89;
    text-align: justify;
}

.content__info-separator {
    height: 36px;
}

.content__service-separator {
    height: 22px;
}

.content__services {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-left: 40px;
    padding-right: 40px;
}

.content__services .service__card {
    display: flex;
    justify-content: start;
    min-width: 300px;
    max-width: 300px;
}

.service__card-logo {
    padding-top: 10px;
    width: 60px;
    background-repeat: no-repeat;
}

.service__card-content {
    padding-top: 7px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.service__card-caption {
    padding-left: 21px;
    font-weight: 900;
    font-size: 18px;
    color: #666d89;
    font-family: 'Lato', sans-serif;
    letter-spacing: -0.0045rem;
}

.service__card-text {
    padding-top: 8px;
    padding-left: 21.5px;
    overflow: hidden;
    font-weight: normal;
    font-size: 12px;
    line-height: 21px;
    font-family: Lato, sans-serif;
    text-align: justify;
    color: #666d89;
    letter-spacing: -0.004rem;
}

.portfolio {
    margin: 0 auto;
    width: 1020px;
    height: 864px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    padding: 0;
    overflow: hidden
}

.portfolio__wrapper {
    margin: 69px 30px;
}

.portfolio__title {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    padding: 0 10px;
}

.portfolio__subtitle {
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    margin-top: 28px;
    padding: 0 10px;
}

.portfolio__works {

    display: flex;
    flex-direction: row;
    height: 618px;
    flex-wrap: wrap;
    overflow: hidden
}

.portfolio__image {
    margin: 9px 10px 10px 10px;
}

.portfolio__filters {
    display: flex;
    flex-direction: row;
    padding: 0 10px;
}

.portfolio__button {
    width: auto;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #666d89;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: 'Lato';
    font-weight: 400;
    text-align: left;
    margin: 10px 9.2px 10px 0;
    padding: 0 6.8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    letter-spacing: -0.002rem;
    transition: all .1s linear;
}

.portfolio__button.button_artwork {
    padding: 0 4.3px;
}

.portfolio__button.button-active {
    color: white;
    border: 1px solid white;
}

.portfolio__button:hover,
.portfolio__button:active {
    color: white;
    border: 1px solid white;
}

.about {
    margin: 0 auto;
    width: 1020px;
    height: 728px;
    background-color: #f2f2f2;
    border-bottom: 6px solid white;
    padding: 0;
    overflow: hidden
}

.about__wrapper {
    margin: 69px 30px;
}

.about__title {
    font-size: 30px;
    line-height: 16px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    padding: 0 10px;
    letter-spacing: -0.008rem;
}

.about__subtitle {
    margin-top: 26px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: justify;
    padding: 0 10px;
}

.about__employees {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.about__employee {
    margin: 0 10px;
    height: 446px;
    width: 300px;
}

.about__employee-name {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    margin-top: 13px;
    letter-spacing: -0.008rem;
    margin-left: -1px;
    white-space: nowrap;
    overflow: hidden;

}

.about__employee-description {
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    margin-top: 10px;
    letter-spacing: -0.007rem;
    text-align: justify;
}

.about__employee-photo {
    margin: -1px 0;
}

.about__employee-social {
    margin-top: 23px;
}

.social-icon {
    margin-right: 4.45px;
}

.social-icon:hover {
    background: #b1b0cc;
    border-radius: 50%;
    cursor: pointer;
}

span {
    letter-spacing: 0.001rem;
    text-align: justify;
}

.contact {
    margin: 0 auto;
    width: 1020px;
    height: 648px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
    padding: 0;
    overflow: hidden;
}

.contact__wrapper {
    margin: 69px 30px;
    padding: 0 10px;
}

.contact__title {
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin-top: -1px;
}

.contact__subtitle {
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 300;
    text-align: justify;
    margin-top: 27px;
}

.contact__form {
    display: inline-flex;
    flex-direction: column;
    margin-top: 42px;
    height: 426px;
    width: 619px;
    justify-content: space-between;
}

textarea,
input {
    border: none;
    padding-left: 15px;
}

input::placeholder {
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
}

input::-moz-placeholder {
    line-height: 3;
}

textarea::placeholder {
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    padding-top: 5px;
}

.contact__form input:nth-child(1),
.contact__form input:nth-child(2),
.contact__form input:nth-child(3) {
    width: 604px;
    height: 36px;
    border-radius: 5px;
    background-color: #d6564f;
    font-size: 12px;
    line-height: 22px;
    font-family: "Lato";;
}

.contact__form textarea {
    height: 198px;
    border-radius: 5px;
    background-color: #d6564f;
    font-size: 12px;
    line-height: 34px;
    font-family: "Lato";;
    resize: none;
}

.contact__form input:nth-child(1):hover,
.contact__form input:nth-child(2):hover,
.contact__form input:nth-child(3):hover,
.contact__form textarea:hover {
    background-color: #6e2f2b;
}


.contact__form button {
    height: 34px;
    width: 120px;
    margin: 6px auto;
    border-radius: 5px;
    background-color: #d6564f;
    color: #f48c8f;
    border: none;
    cursor: pointer;
}

.contact__form button:hover {
    background-color: #6e2f2b;
}

.contact__content {
    display: flex;
    flex-direction: row;
}

.contact__info {
    width: 300px;
    color: #f0d8d9;
    margin-left: 21px;
}

.contact__infoTitle {
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin: 0;
    letter-spacing: -0.005rem;
    padding-top: 44px;
}

.contact__infoDescription {
    width: 300px;
    font-size: 12px;
    line-height: 21.5px;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: left;
    padding-bottom: 20px;
    word-break: break-all;
    margin-top: 10px;
    margin-bottom: 3px;
}

.contact__icons {
    display: inline-flex;
    align-items: center;
    margin: 0;
}

.contact__link {
    width: 300px;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;

    margin-left: 11.5px;
    text-decoration: none;
}

.ico {
    display: inline-block;
    cursor: pointer;
}

.ico_location {
    margin-left: 3px;
    background-image: url("./assets/images/location.png");
    width: 7px;
    height: 11px;
}

.ico_phone {
    background-image: url("./assets/images/phone2.png");
    width: 11px;
    height: 11px;
}

.ico_mail {
    background-image: url("./assets/images/mail.png");
    width: 13px;
    height: 8px;
}

.ico.ico_mail {
    margin-top: 4px;
}

.footer {
    width: 1020px;
    height: 76px;
    margin: 0 auto;
    background-color: #2d303a;
}

.footer__wrapper {
    width: 940px;
    height: 76px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copyright {
    padding-left: 2px;
    font-size: 12px;
    line-height: 6px;
    color: #666d89;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: left;
}

.footer__icon {
    width: 153px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 3px;
}