@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'), url('assets/fonts/lato-300.woff2') format('woff2');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url('assets/fonts/lato-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url('assets/fonts/lato-700.woff2') format('woff2');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato Black'), local('Lato-Black'), url('assets/fonts/lato-900.woff2') format('woff2');
}

body,
html {
    width: 1020px;
    margin: 0 auto;
    padding: 0;
}

@media (max-width: 1019px) {
    body,
    html {
        width: 768px;
    }
}

@media (max-width: 767px) {
    body,
    html {
        width: 375px;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    margin: auto;
    height: 89px;
    width: 1020px;
    background-color: #272c38;
    border-bottom: 6px solid #2c3445;
    position: fixed;
    top: 0;
    z-index: 1000;
}

header #modal-menu {
    display: none;
    position: fixed;
    top: 65px;
    left: 0;
    width: 278px;
    height: 100%;
    max-width: 70%;
    background-color: #272c38;
}

#modal-menu.active {
    display: flex;
}

#modal-menu nav {
    width: 100%;
    color: white;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    flex-direction: column;
margin-top: 161px;
    align-items: center;
}

#modal-menu nav a{
    margin-bottom: 27px;
}

.header__burgerBtn {
    background-color: #272c38;
    cursor: pointer;
    outline: none;
    border: 0;
    display: none;
    position: absolute;
    top: 27px;
    left: 21px;
    transition: all .5s;
}

header.burger .header__burgerBtn {
    transform: rotate(90deg);
    z-index: 1;
}

.header__wrapper {
    display: flex;
    margin: auto;
    width: 940px;
    padding-top: 13px;
    justify-content: space-between;
    align-content: center;
    background-color: #272c38;
}

.header__logo {
    font-family: 'Lato', sans-serif;
    font-size: 12.2px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: -0.0035rem;
    display: flex;
    flex-direction: row;
}

.header__logo a {
    text-decoration: none;
    color: white;
}

.header__logoAccent {
    color: #ff6962;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    margin-top: 16px;
}

.header__menu {
    display: flex;
    padding-top: 29px;
}

.header__item {
    letter-spacing: -0.003rem;
    cursor: pointer;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color: white;
}

.header__item:hover {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color: red;
}

.header__active {
    color: red;
}

.header__separator {
    width: 29px;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color: white;
    text-align: center;
    opacity: 0.2;
}

@media (max-width: 1019px) {
    header {
        width: 768px;
    }

    .header__wrapper {
        width: 688px;
    }
}

@media (max-width: 767px) {

    h1 {
        margin: 0;
        padding: 0;
    }

    header {
        width: 375px;
        height: 65px;
    }

    header a {
     display: flex;
     flex-direction: column;
        justify-content: center;
    }

    .header__burgerBtn {
        display: flex;
    }

    .header__logoAccent {
        margin-top: 0;
    }

    .header__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 375px;
        margin: 0;
        padding-top: 20px;
    }

    .header__menu {
        display: none;
    }
}

.slider {
    margin: auto;
    width: 100%;
    background-color: #ff6c64;
    border-bottom: 6px solid #f55d55;
}

.slider__wrapper {
    margin-top: 95px;
    min-height: 594px;
    display: flex;
    justify-content: space-between;
}

.slider__arrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100px;
    height: 590px;
}

.slider__arrow img {
    opacity: 0.1;
}

.slider__arrow img:hover {
    opacity: 1;
}

.arrow-right {
    transform: rotate(180deg);
}

.slider__content {
    display: flex;
    width: 795px;
    justify-content: center;
    align-content: center;
    position: relative;
}

.slider2__content {
    display: flex;
    width: 795px;
    justify-content: center;
    align-content: center;
}

.slider2_bg {
    background-color: #648BF0;
    border-bottom: 6px solid #5872cb;
}

.slider__iphone-vertical {
    margin-top: 53px;
    background-image: url('assets/images/iPhone-vertical.png');
    width: 240px;
    height: 483px;
}

.slider__iphone-horizontal {
    margin-top: 174px;
    margin-left: 73px;
    background-image: url('assets/images/iPhone-horizontal.png');
    width: 483px;
    height: 240px;
}

.slider2__phones {
    margin-top: 50px;
    background-image: url('assets/images/2-iphones.png');
    width: 517px;
    height: 513px;
}

.slider__blackScreen-vertical {
    background-color: black;
    width: 189px;
    height: 335px;
    position: absolute;
    left: 14px;
    top: 117px
}

.slider__blackScreen-horizontal {
    background-color: black;
    width: 189px;
    height: 335px;
    position: absolute;
    left: 445px;
    top: 114px;
    transform: rotate(90deg);
}

.slider_phone1-Area {
    border-radius: 20px;
    width: 212px;
    height: 455px;
    position: absolute;
    left: 0;
    top: 52px;
    z-index: 100;
}

.slider_phone2-Area {
    border-radius: 20px;
    width: 212px;
    height: 455px;
    position: absolute;
    left: 433px;
    top: 52px;
    transform: rotate(90deg);
    z-index: 100;
}


@media (max-width: 1019px) {
    .slider__wrapper {
        margin-top: 71px;
        min-height: 447px;
    }

    .slider__content,
    .slider2__content {
        width: 600px;
        height: 447px;
    }

    .slider2__phones {
        margin-top: 45px;
        background-image: url('assets/images/2-iphones.png');
        width: 360px;
        height: 360px;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .slider__arrow {
        width: 68px;
        height: 447px;
    }

    .slider__iphone-vertical {
        margin-top: 41px;
        width: 181px;
        height: 363px;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .slider__iphone-horizontal {
        width: 363px;
        height: 181px;
        background-size: 100%;
        background-repeat: no-repeat;
        margin-top: 133px;
        margin-left: 54px;
    }

    .slider_phone1-Area {
        width: 180px;
        height: 363px;
        top: 41px;
    }

    .slider_phone2-Area {
        width: 180px;
        height: 363px;
        left: 325px;
        top: 40px;
    }

    .slider__blackScreen-vertical {
        background-color: black;
        width: 143px;
        height: 252px;
        left: 11px;
        top: 90px
    }

    .slider__blackScreen-horizontal {
        background-color: black;
        width: 143px;
        height: 252px;
        left: 335px;
        top: 89px;
    }
}

@media (max-width: 767px) {
    .slider {
        height: 219px;
        width: 375px;
    }

    .slider__wrapper {

    }

    .slider__content,
    .slider2__content {
        width: 293px;
        height: 178px;
    }

    .slider2__phones {
        margin-top: 20px;
        background-image: url('assets/images/2-iphones.png');
        width: 178px;
        height: 178px;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .slider__arrow {
        width: 68px;
        height: 219px;
    }

    .slider__iphone-vertical {
        margin-top: 20px;
        width: 90px;
        height: 178px;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .slider__iphone-horizontal {
        width: 178px;
        height: 88px;
        background-size: 100%;
        background-repeat: no-repeat;
        margin-top: 65px;
        margin-left: 26px;
    }

    .slider_phone1-Area {
        width: 90px;
        height: 180px;
        top: 20px;
    }

    .slider_phone2-Area {
        width: 90px;
        height: 180px;
        left: 160px;
        top: 20px;
    }

    .slider__blackScreen-vertical {
        background-color: black;
        width: 72px;
        height: 125px;
        left: 5px;
        top: 44px
    }

    .slider__blackScreen-horizontal {
        background-color: black;
        width: 70px;
        height: 123px;
        left: 164px;
        top: 43px;
    }

}


.content {
    width: 100%;
    background-color: #f2f2f2;
}

.content__wrapper {
    min-height: 494px;
    height: 100%;
    background-color: #f2f2f2;
    border-bottom: 6px solid white;
}

.content__info {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
}

.content__info-title {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    color: #666d89;
    padding-top: 30px;
    letter-spacing: -0.01rem;
}

.content__info-description {
    font-family: 'Lato', sans-serif;
    margin-top: 18px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #666d89;
    text-align: justify;
}

.content__info-separator {
    height: 36px;
}

.content__service-separator {
    height: 24px;
}

.content__services {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-left: 40px;
    padding-right: 40px;
}

.content__services .service__card {
    display: flex;
    justify-content: start;
    min-width: 300px;
    max-width: 300px;
}

.service__card-logo {
    padding-top: 10px;
    width: 60px;
    background-repeat: no-repeat;
}

.service__card-content {
    padding-top: 7px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.service__card-caption {
    padding-left: 21px;
    font-weight: 900;
    font-size: 18px;
    color: #666d89;
    font-family: 'Lato', sans-serif;
    letter-spacing: -0.0045rem;
}

.service__card-text {
    padding-top: 8px;
    padding-left: 21.5px;
    overflow: hidden;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    font-family: Lato, sans-serif;
    text-align: justify;
    color: #666d89;
    letter-spacing: -0.004rem;
}

@media (max-width: 1019px) {
    .content__wrapper {
        height: 541px;
        width: 687px;
        padding: 44px 40px 64px 41px;
    }

    .content__info {
        padding: 0;
    }

    .content__info-title {
        padding: 0;
    }

    .content__info-separator,
    .content__service-separator {
        display: none;
    }

    .content__services {
        display: inline;
        padding: 0;
    }

    .content__flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 18px;
    }

    .service__card {
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    .content__wrapper {
        height: 1033px;
        width: 311px;
        padding: 32px;
    }
}

.portfolio {
    margin: 0 auto;
    width: 1020px;
    height: 864px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    padding: 0;
    overflow: hidden
}


.portfolio__wrapper {
    margin: 69px 30px;
}

.portfolio__title {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    padding: 0 10px;
}

.portfolio__subtitle {
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    margin-top: 28px;
    padding: 0 10px;
}

.portfolio__works {
    display: flex;
    flex-direction: row;
    height: 618px;
    flex-wrap: wrap;
    overflow: hidden
}

.portfolio__image {
    margin: 9px 10px 10px 10px;
}

.portfolio__image-active {
    border: 5px solid #F06C64;
    margin: 4px 5px 5px 5px;
}

.portfolio__filters {
    display: flex;
    flex-direction: row;
    padding: 0 10px;
}

.portfolio__button {
    width: auto;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #666d89;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: 'Lato';
    font-weight: 400;
    text-align: left;
    margin: 10px 9.2px 10px 0;
    padding: 0 6.8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    letter-spacing: -0.002rem;
    transition: all .1s linear;
}

.portfolio__button.button_artwork {
    padding: 0 4.3px;
}


.portfolio__button-active {
    color: white;
    border: 1px solid white;
}

.portfolio__button:hover,
.portfolio__button:active {
    color: white;
    border: 1px solid white;
}

@media (max-width: 1019px) {
    .portfolio {
        margin: 0 auto;
        width: 768px;
        height: 1094px;
    }

    .portfolio__wrapper {
        height: 968px;
        margin: 62px 40px 65px 40px;
    }

    .portfolio__works {
        display: flex;
        flex-direction: row;
        height: 814px;
        flex-wrap: wrap;
        overflow: hidden
    }

    .portfolio__image {
        width: 216px;
        height: 184px;
        margin: 20px 0 0 0;
    }

    .portfolio__image:nth-child(2),
    .portfolio__image:nth-child(5),
    .portfolio__image:nth-child(8),
    .portfolio__image:nth-child(11) {
        margin: 20px 20px 0 20px;
    }
}
@media (max-width: 767px) {
    .portfolio {
        margin: 0 auto;
        width: 375px;
        height: 824px;
    }

    .portfolio__wrapper {
        height: 766px;
        margin: 42px 30px;
    }

    .portfolio__filters {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;
    }

    .portfolio__button {
        text-align: center;
        margin: 0;
    }

    .portfolio__works {
        display: flex;
        flex-direction: row;
        height: 554px;
        flex-wrap: wrap;
        overflow: hidden
    }

    .portfolio__image {
        width: 151px;
        height: 127px;
        margin: 0 0 14px;
    }

    .portfolio__image:nth-child(2),
    .portfolio__image:nth-child(5),
    .portfolio__image:nth-child(8),
    .portfolio__image:nth-child(11) {
        margin: 0;
    }

    .portfolio__image:nth-child(1),
    .portfolio__image:nth-child(2) {
        margin-top: 20px;
    }

    .portfolio__image:nth-child(1),
    .portfolio__image:nth-child(3),
    .portfolio__image:nth-child(5),
    .portfolio__image:nth-child(7) {
        margin-right: 13px;
    }

}

.about {
    margin: 0 auto;
    width: 1020px;
    height: 728px;
    background-color: #f2f2f2;
    border-bottom: 6px solid white;
    padding: 0;
    overflow: hidden
}

.about__wrapper {
    margin: 69px 30px;
}

.about__title {
    font-size: 30px;
    line-height: 16px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    padding: 0 10px;
    letter-spacing: -0.008rem;
}

.about__subtitle {
    margin-top: 26px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: justify;
    padding: 0 10px;
}

.about__employees {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.about__employee {
    margin: 0 10px;
    height: 446px;
    width: 300px;
}

.about__employee-name {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    margin-top: 13px;
    letter-spacing: -0.008rem;
    margin-left: -1px;
    white-space: nowrap;
    overflow: hidden;

}

.about__employee-description {
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    margin-top: 10px;
    letter-spacing: -0.007rem;
    text-align: justify;
}

.about__employee-photo {
    margin: -1px 0;
}

.about__employee-social {
    margin-top: 23px;
}

.social-icon {
    margin-right: 4.45px;
}

.social-icon:hover {
    background: #b1b0cc;
    border-radius: 50%;
    cursor: pointer;
}

span {
    letter-spacing: 0.001rem;
    text-align: justify;
}

@media (max-width: 1019px) {
    .about {
        width: 768px;
        height: 669px;
    }
    .about__wrapper {
        margin: 52px 40px 55px 40px;
    }

    .about__employees {
        overflow: hidden;
    }

    .about__employee {
        height: 380px;
        width: 219px;
        margin: 20px 7.5px;
    }

    .about__employee-photo {
        background-size: 100%;
        height: 219px;
        width: 219px;
    }

    .about__employee-social {
        margin-top: 13px;
    }
}

@media (max-width: 767px) {
    .about {
        width: 375px;
        height: 1754px;
    }
    .about__wrapper {
        margin: 33px 30px 45px 30px;
    }


    .about__subtitle {
        height:auto;
    }

    .about__employees {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .about__employee {
        height: 440px;
        width: 314px;
        margin-top: 23px;
        margin-bottom: 10px;
    }

    .about__employee-photo {
        background-size: 100%;
        height: 314px;
        width: 314px;
    }

    .about__employee-social {
        margin-top: 13px;
    }
}

.contact {
    margin: 0 auto;
    width: 1020px;
    height: 648px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
    padding: 0;
    overflow: hidden;
}

.contact__wrapper {
    margin: 69px 30px;
    padding: 0 10px;
}

.contact__title {
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin-top: -1px;
}

.contact__subtitle {
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 300;
    text-align: justify;
    margin-top: 27px;
}

.contact__form {
    display: inline-flex;
    flex-direction: column;
    margin-top: 42px;
    height: 426px;
    width: 619px;
    justify-content: space-between;
}

textarea,
input {
    border: none;
    padding-left: 15px;
}

input::placeholder {
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
}

input::-moz-placeholder {
    line-height: 3;
}

textarea::placeholder {
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    padding-top: 5px;
}

.contact__form input:nth-child(1),
.contact__form input:nth-child(2),
.contact__form input:nth-child(3) {
    width: 604px;
    height: 36px;
    border-radius: 5px;
    background-color: #d6564f;
    font-size: 12px;
    line-height: 22px;
    font-family: "Lato";;
}

.contact__form textarea {
    height: 198px;
    border-radius: 5px;
    background-color: #d6564f;
    font-size: 12px;
    line-height: 34px;
    font-family: "Lato";
    resize: none;
}

.contact__form input:nth-child(1):hover,
.contact__form input:nth-child(2):hover,
.contact__form input:nth-child(3):hover,
.contact__form textarea:hover {
    background-color: #6e2f2b;
}


.form__button {
    height: 34px;
    width: 120px;
    margin: 6px auto;
    border-radius: 5px;
    background-color: #d6564f;
    color: #f48c8f;
    border: none;
    cursor: pointer;
}

.form__button:hover {
    background-color: #6e2f2b;
}

.invalid {
    box-shadow: 0 0 2px 2px #630000;
}

.modal-backdrop {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(154, 159, 154, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.visually-hidden {
    display: none;
}

.modal-window {
    width: 100%;
    max-width: 400px;
    box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
}

.modal-button {
    margin: 10px;
    border-radius: 5px;
    background-color: #d6564f;
    color: #e5e5e5;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 20px;
}

.modal-result-message {
    font-size: 24px;
    margin-bottom: 8px;
    font-family: "Lato";
    font-weight: 900;
}

.modal-message {
    text-align: left;
    font-size: 14px;
    font-family: "Lato";
    font-weight: 400;
}

.contact__content {
    display: flex;
    flex-direction: row;
}

.contact__info {
    width: 300px;
    color: #f0d8d9;
    margin-left: 21px;
}

.contact__infoTitle {
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin: 0;
    letter-spacing: -0.005rem;
    padding-top: 44px;
}

.contact__infoDescription {
    width: 300px;
    font-size: 12px;
    line-height: 21.5px;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: left;
    padding-bottom: 20px;
    word-break: break-all;
    margin-top: 10px;
    margin-bottom: 3px;
}

.contact__icons {
    display: inline-flex;
    align-items: center;
    margin: 0;
}

.contact__link {
    width: 300px;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;

    margin-left: 11.5px;
    text-decoration: none;
}

.ico {
    display: inline-block;
    cursor: pointer;
}

.ico_location {
    margin-left: 3px;
    background-image: url("./assets/images/location.png");
    width: 7px;
    height: 11px;
}

.ico_phone {
    background-image: url("./assets/images/phone2.png");
    width: 11px;
    height: 11px;
}

.ico_mail {
    background-image: url("./assets/images/mail.png");
    width: 13px;
    height: 8px;
}

.ico.ico_mail {
    margin-top: 4px;
}

@media (max-width: 1019px) {
    .contact {
        width: 768px;
        height: 605px;
    }

    .contact__wrapper {
        margin: 56px 30px 62px 30px;
    }

    .contact__form {
        margin-top: 23px;
        height: 342px;
        width: 442px;
        justify-content: space-between;
    }

    .contact__form textarea {
        height: 159px;
    }

    .contact__form input:nth-child(1),
    .contact__form input:nth-child(2),
    .contact__form input:nth-child(3) {
        width: 427px;
        margin-bottom: 12px;
    }

    .contact__info {
        width: 221px;
        margin-left: 29px;
    }

    .contact__infoTitle {
        padding-top: 24px;
    }

    .contact__infoDescription {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .contact {
        width: 375px;
        height: 900px;
    }

    .contact__wrapper {
        height: 806px;
        margin: 50px 30px 42px 30px;
        padding: 0;
    }

    .contact__content {
        display: flex;
        flex-direction: column;
    }

    .contact__form {
        margin-top: 23px;
        height: 342px;
        width:100%;
        justify-content: space-between;
    }

    .contact__form textarea {
        height: 159px;
    }

    .contact__form input:nth-child(1),
    .contact__form input:nth-child(2),
    .contact__form input:nth-child(3) {
        width: 300px;
        margin-bottom: 12px;
    }

    .form__button {
        width: 100%;
    }


    .contact__info {
        width: 100%;
        margin: 0;
    }

    .contact__infoTitle {
        padding-top: 24px;
    }

    .contact__infoDescription {
        width: 100%;
    }
}

.footer {
    width: 1020px;
    height: 76px;
    margin: 0 auto;
    background-color: #2d303a;
}

.footer__wrapper {
    width: 940px;
    height: 76px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copyright {
    padding-left: 2px;
    font-size: 12px;
    line-height: 6px;
    color: #666d89;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: left;
}

.footer__icon {
    width: 153px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 3px;
}

@media (max-width: 1019px) {
    .footer {
        width: 768px;
    }

    .footer__wrapper {
        width: 688px;
    }
}
@media (max-width: 767px)  {
    .footer {
        width: 375px;
    }

    .footer__wrapper {
        width: 153px;
    }

    .footer__wrapper p {
    display: none;
    }
}


.modal-cover {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9000;
    width: 100%;
    height: 100%;
    background: #2D303A;
    opacity: 0.6;
}